*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: brown;
    height: 56px;
}
.main-content, .side-menu {
    overflow-y: scroll;
}

main {
    background-color: aquamarine;
    flex-grow: 1;
    display: flex;
}

.side-menu {
    width: 240px;
    background-color: blueviolet;
    flex-shrink: 0;
}

.main-content {
    background-color: blue;
    flex-grow: 1;
}