*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
    height: 56px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    padding: 0 .5rem;
}
.main-content, .side-menu {
    overflow-y: scroll;
}

main {
    background-color: aquamarine;
    flex-grow: 1;
    display: flex;
}

.side-menu {
    width: 240px;
    background-color: blueviolet;
    flex-shrink: 0;
}

.main-content {
    background-color: blue;
    flex-grow: 1;
}

.menu-btn-and-logo {
    display:flex;
    gap: 1.5rem;
}

.menu-btn-and-logo div {
    height: 18px;
}